%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "default.css", :media => "all"}
  %body
    %h1 Those are your treasures, #{user.name}!
    %h2 You have got #{items.size} items

    %ul
      - for item in items
        %li
          #{item.name}
          %i
            #{item.price} Credits
          <br>status: #{item.is_active? ? "active": "inactive"}

    %a{:href => "/logout"} Logout
    %a{:href => "/home"} Home